
 body {
    font-family: Raleway !important;
   
}
#About-Me{
   margin-top: 8% !important;
   padding-bottom: 100px !important;
   padding-top: 100px !important;
}
#Home{
 background-image: url('image-landing.jpg') !important;
 background-position: center !important;
 background-repeat: no-repeat !important;
 background-size: cover !important;
 padding-bottom: 100px !important; 
 padding-top: 100px !important;
 }

 #Recent-Works{
    
     
 }
.landing-text{
    margin-top: 30% !important;
}
.nav-link{
    color: white !important;
    font-size: 18px !important;
}

.nav-link:hover{
    color: white !important;
    font-size: 18px !important;
   
    border-bottom: 3px solid #22d1ee !important;
    
}
#Heading-Landing{
    font-family: Raleway !important;
    font-size: 50px !important;
    font-weight: 900 !important;
    color: black;
}
#Paragraph-Landing{
    font-family: Raleway !important;
    font-weight: 500 !important;
    color: #878a8f !important;
}
.Links-Landing {
    color: black !important;
    text-decoration: none !important;
    font-weight: 700 !important;
}

.Links-Landing:hover {
    color: black !important;
   border: 2px black solid !important;
    font-weight: 700 !important;
    padding: 10px !important;
}

#Heading-Recent-Works{
    font-family: Raleway !important;
    font-size: 50px !important;
    font-weight: 900 !important;
    color: black;
    margin-top: 15% !important;
}
.projects{
    margin-top: 10% !important;
}
.project-name{
    font-weight: 800 !important;
    font-size: 25px !important;
    text-align: center !important;
}
.Heading-About-Me{
    text-align: center !important;
    font-size: 20px !important;
    color: #878a8f !important;
}
.Biography{
    text-align: center !important;
    font-weight: 900 !important;
    font-size: 2.5rem !important;
}

.Work-Experience{
    text-align: center !important;
    font-size: 1.375rem !important;
    color: #878a8f !important;
}
.Image-About-Me{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
.Services{
    text-align: center !important;
    font-weight: 800 !important;
    font-size: 1.375rem !important;
}
.Heading-Service{
    text-align: center !important;
    color: #878a8f !important;
    font-size: 1.375rem !important;
    margin-top: 5% !important;
}
#Heading-Contact-Me{
 font-family: Raleway !important;
 font-size: 50px !important;
 font-weight: 900 !important;
 color: black;
 margin-top: 10% !important;
 text-align: center !important;
}
#Paragraph-Contact-Me{
     text-align: center !important;
     font-size: 1.375rem !important;
     color: #878a8f !important;
}

#Footer{
    background-color: black !important;
    color: white !important;
    padding-bottom: 100px !important;
    padding-top: 100px !important;
}
#Contact-Me{
    padding-bottom: 100px !important;
    padding-top: 100px !important;
}
.active {
    border: 1px white solid  !important;
    
    border-radius: 2% !important;
}
.fa-mobile-alt {
    font-size: 40px !important;
    color: black !important;
}
.fa-mobile-alt:hover {
    font-size: 40px !important;
    color: black !important;
    color:#226089 !important;
    animation: ease-in 2s !important;
}
.fa-envelope {
    font-size: 40px !important;
    color: black !important;
}
.fa-envelope:hover {
    font-size: 40px !important;
    color: black !important;
    color:#226089 !important;
}
.fa-skype{
    font-size: 40px !important;
    color: black !important;
}
.fa-skype:hover {
    font-size: 40px !important;
    color:#226089 !important;
}
.fa-facebook{
    font-size: 40px !important;
    color: black !important;
}
.fa-facebook:hover {
    font-size: 40px !important;
    color:#226089 !important;
}
.fa-linkedin{
    font-size: 40px !important;
    color: black !important;  
}
.fa-linkedin:hover {
    font-size: 40px !important;
    color:#226089 !important;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.text-social-media-link{
    font-family: Raleway !important;
    font-weight: 500 !important;
    font-size: 28px !important;
}